
@media print {
  body {
    background-color: #FFF;
  }
  
  header {
	display: none;  
  }
  
  footer {
	display: none;
  }

  .debug_dump {
	display: none;  
  }
  
  .bloc_entete_users {
	display: none;
  }
  
  .cv_table, .action_table {
	display: none;
  }
  
  a {
	display: none;
  }
  
  .print_utilisateur {
	margin : 0px auto;
  }
  table {
	width : 100%;
	border: 1px solid black;  
  }
  
  table td {
	  border: 1px solid black;
  }
  
  
}

